In [1]:
import pandas

In [2]:
data = pandas.read_csv("effects-of-covid-19-on-trade-at-15-december-2021-provisional.csv")
data

,Direction,Year,Date,Weekday,Country,Commodity,Transport_Mode,Measure,Value,Cumulative
0,Exports,2015,01/01/2015,Thursday,All,All,All,$,104000000,104000000
1,Exports,2015,02/01/2015,Friday,All,All,All,$,96000000,200000000
2,Exports,2015,03/01/2015,Saturday,All,All,All,$,61000000,262000000
3,Exports,2015,04/01/2015,Sunday,All,All,All,$,74000000,336000000
4,Exports,2015,05/01/2015,Monday,All,All,All,$,105000000,442000000
...,...,...,...,...,...,...,...,...,...,...
111433,Reimports,2021,11/12/2021,Saturday,All,All,All,$,0,165000000
111434,Reimports,2021,12/12/2021,Sunday,All,All,All,$,0,165000000
111435,Reimports,2021,13/12/2021,Monday,All,All,All,$,2000000,166000000
111436,Reimports,2021,14/12/2021,Tuesday,All,All,All,$,1000000,167000000
111437,Reimports,2021,15/12/2021,Wednesday,All,All,All,$,1000000,168000000